<!-- Card and sale class if article is on sale -->
<div class="card" [class.sale]="article.isOnSale">
  <!-- Image -->
  <img [src]="article.imageUrl" alt="{{ article.name }}" />
  <!-- Card info -->
  <div class="info">
    <!-- Exercise 5: ngClass to change price to gray color if article is not on sale-->
    <h1>{{ article.name }} - <span [ngClass]="{'price': true, 'not-sale': !article.isOnSale}">{{ article.price
        }}€</span></h1>
    <p>{{ article.isOnSale ? 'On Sale!' : 'Not for sale' }}</p>

    <!-- Cart quantity buttons-->
    <!-- Exercise 5: ngIf to show/hide buttons if article is on sale or not -->
    <div class="cartQuantity" *ngIf="article.isOnSale">
      <!-- Click function and disabled if quantity is 0-->
      <button (click)="changeQuantity(-1)" [disabled]="article.quantityInCart === 0">-</button>
      <span>{{ article.quantityInCart }}</span>
      <!-- Click function -->
      <button (click)="changeQuantity(1)">+</button>
    </div>
  </div>
</div>